<!--Just to give the pagination a better look-->
<style>
    .nav {
        border: solid 1px #777;
        float: left;
        padding: 8px;
        margin: 1px;
        width: 38px;
        text-align: center;
    }

    .navColoured {
        border: solid 1px #777;
        float: left;
        padding: 8px;
        margin: 1px;
        width: 38px;
        text-align: center;
        background-color: gray;
    }
</style>
<!--End of style-->
<table class="table">
    <tr>
        <!--Generate column names ... loop on columns array-->
        <th *ngFor="let col of Columns" [hidden]="col.Ishidden">
            {{col.DisplayName}}                                 
            <a style="cursor: pointer;" [hidden]="Direction==-1 || !AllowSorting || !col.sortable" (click)="Sort(col.colName,-1)">▲</a>            
            <a style="cursor: pointer;" [hidden]="Direction==1 || !AllowSorting || !col.sortable" (click)="Sort(col.colName,1)">▼</a>
        </th>
        <!--For the delete link-->
        <th [hidden]="!AllowDelete"></th>
    </tr>
    <!--Loop on the data-->
    <tr *ngFor="let c of Data | AutoGridPipe : SortBy: Direction; let i = index;">
        <td  *ngFor="let col of Columns" [hidden]="col.Ishidden">{{c[col.colName]}}</td>
        <!--show delete if enabled, and pass the whole row to OnDeleteRow-->
        <td [hidden]="!AllowDelete">
            <a class="btn btn-info" style="cursor: pointer;" (click)="OnDeleteRow(c)">View Details</a>
        </td>
    </tr>
</table>
<!--Pagination-->
<table class="table">
    <tr>
        <td>
            <div>Showing {{(PageSize * (PageIndex)) + 1}} to {{PageSize * (PageIndex + 1)>TotalRows?TotalRows:PageSize * (PageIndex
                + 1)}} of {{TotalRows}} Records</div>
            <div style="margin:0px auto;" [style.width]="Width">
                <div class="nav" [hidden]="Pages.length==0">
                    <a style="cursor: pointer;" (click)="OnFirstPage()">First</a>
                </div>
                <div class="nav" [hidden]="Pages.length==0">
                    <a style="cursor: pointer;" (click)="OnPreviousPage()">Prev</a>
                </div>
                <!--Width is calculated based on number of pages, to make it center-->
                <div *ngFor="let pageIndex of Pages;let i = index;" [ngClass]="!(PageIndex+1!=pageIndex)?'navColoured':'nav'">
                    <!--If this is the current page, page number displayed as a text only-->
                    <span style="cursor: pointer;color:white;" [hidden]="PageIndex+1!=pageIndex">{{pageIndex}}</span>
                    <!--Page number dispalyed as a link, which call OnPageIndexChange and pass the new PageIndex + 1 -->
                    <a style="cursor: pointer;" [hidden]="PageIndex+1==pageIndex" (click)="OnPageIndexChange(pageIndex)">{{pageIndex}}</a>
                </div>
                <div class="nav" [hidden]="Pages.length==0">
                    <a style="cursor: pointer;" (click)="OnNextPage()">Next</a>
                </div>
                <div class="nav" [hidden]="Pages.length==0">
                    <a style="cursor: pointer;" (click)="OnLastPage()">Last</a>
                </div>
            </div>
        </td>
    </tr>
</table>