.circle-male {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: rgba(21, 7, 153, 0.795)
}

.circle-female {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: rgba(223, 28, 213, 0.308)
}